body {
   margin: 0px;
   background-color: rgb(200,200,200);
}

nav {
   background-color: rgb(50,50,50);
   display: grid;
   align-items: center;
   justify-items: center;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   height: 8%;
}
nav div {
   background-color: rgb(80,80,80);
}

nav div a {
   color: white;
   font-size: 20px;
}
